.nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  padding: 40px 20px;
  height: 80px;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.nav-buttons {
  display: flex;
  align-items: center;
  height: 80px;
  font-size: 1.2rem;
  box-sizing: border-box;

}

.nav-logo-text {
  color: #113c49;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.28px;
}

.nav-container a {
  margin: 20px 30px;
  color: #252641;
  text-decoration: none;
}

.nav-sign-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.nav-sign-buttons p {
    margin: 0 20px;
    cursor: pointer;
}

.nav-sign-in {
  padding: 10px 30px;
  border-radius: 50px;
  background-color: white;
  color: grey;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
}

.nav-sign-up {
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #f48c06;
  color: white !important;
  font-weight: 700;
  white-space: nowrap;
  text-decoration: none;
}
