.point {
  width: 5vh;
  height: 5vh;
  background-color: white;
  border-radius: 100%;
  filter: drop-shadow(0px 15px 44px rgba(13, 15, 28, 0.12));
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3vh;
}

.bulletPoint {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.bulletImg {
  width: 2vh;
  height: 2vh;
}

.bulletPointsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.feature2 {
  margin-top: 20vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featureContainer {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.feature3 {
  margin-top: 20vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature4 {
  margin-top: 20vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature5 {
  margin-top: 20vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seeMoreFeaturesContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seeMoreFeaturesButton {
  width: 12%;
  height: 6vh;
  background-color: transparent;
  border-radius: 35px;
  border: 2px solid #f48c06;
  color: #f48c06;
  font-size: 1vw;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  cursor: pointer;
}
