.page {
  width: 100vw;
  overflow-x: hidden;
}

.background {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.roundBackground {
  position: absolute;
  z-index: -1;
  width: 125%;
  height: 95%;
  background-color: #fff2e1;
  border-radius: 0% 0% 100% 100%;
}

.content {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftSide {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6vw;
}

.rightSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}

.titleText {
  width: 80%;
  font-size: 3vw;
  font-weight: 800;
  color: #2f327d;
}

.spanTitle {
  color: #f48c06;
}

.descriptionText {
  width: 50%;
  color: #464646;
  font-size: 0.9vw;
}

.joinFreeButton {
  background-color: rgba(244, 140, 6, 1);
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin-right: 2vw;
  cursor: pointer;
}

.playButton {
  border: none;
  background-color: white;
  border-radius: 100%;
  width: 50px;
  margin-right: 1vw;
  cursor: pointer;
}

.howItWorksButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #252641;
}

.softwareSectionContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.trustedText {
  letter-spacing: 0.1vh;
  color: rgba(105, 105, 132, 1);
  font-weight: 500;
}
